body{
	background-color: #3D3D3D;
	font-family: 'thai_sans_lite';
}

.navbar{
	
	margin-bottom: 0px;
}

.navbar .navbar-inner{
	height: 60px;

}

.navbar-inverse .brand {
	color: #BA1816;
	font-size: 50px;
}

.navbar-inner .nav{
	float: right;
	font-size: 25px;
	
}


.navbar .nav > li > a:hover {
		color: #F2CD33;
		text-decoration: none;
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 10px;
}

.navbar .brand{
	padding-top: 15px;
}

.navbar .nav{
	padding-top: 15px;
	padding-bottom: 10px;
}

#myCarousel .carousel-inner{
	height: 500px;
	width: 100%;
	
}